@model List<Enfant>

@section Style {
    <link rel="stylesheet" href="style/favoris.css">
}

<div class="container-fluid favoris-container">
    <h1>Mes cartes graphiques préférées</h1>
    <p>Vous avez <b>@Model.Count cartes graphiques en favoris.</b></p>
    <table class="table table-dark table-striped table-hover">
        <tr>
            <th>Image</th>
            <th>Carte graphiques</th>
            <th class="d-none d-sm-table-cell">Fabricant</th>
            <th></th>
        </tr>
        
        @foreach (Enfant e in Model)
        {
            <tr>
                <td>
                    <img src="/images/GPUs/@e.Parent.Nom/@e.Nom.Replace(' ', '-')/@(e.Nom.Replace(' ', '-')).png" alt="@e.Nom" width="300">
                </td>
                <td class="text-right text-md-left">
                    <a href="/Enfant/Detail/@e.Id">@e.Nom</a>
                </td>
                <td class="d-none d-sm-table-cell">@e.Parent.Nom</td>
                <td>
                    <form asp-action="SupprimerUnEnfant" method="post" class="form-inline">
                        <input type="hidden" name="id" value="@e.Id">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }

        
    </table>
</div>
