@model Enfant;

@{
    Enfant GPU = Model;

    string getImgPath(int i)
    {
        return "/images/GPUs/" + GPU.Parent.Nom.Replace(' ', '-') + "/" + GPU.Nom.Replace(' ', '-') + "/" + GPU.Nom.Replace(' ', '-') + "-" + i.ToString() + ".jpg";
    }

}

@section Style {
    <link rel="stylesheet" href="/style/detail.css">
}
@section Script {
    <script>
        $('.myCarousel').carousel();

        function normalizeSlideHeights() {
            $('.carousel').each(function() {
                var items = $('.carousel-item', this);
                items.css('min-height', 0);
                var maxHeight = Math.max.apply(null,
                    items.map(function() {
                        return $(this).outerHeight();
                    }).get());
                items.css('min-height', maxHeight + 'px');
            });
        }

        $(window).on(
            'load resize orientationchange',
            normalizeSlideHeights);
    </script>
}


<div class="container-fluid" id="details-container">
    <h1>Détails sur cette carte graphiques.</h1>
    <div class="row details-row">
        <!-- Details -->
        <div class="col-12 col-lg-4 col-xl-3 details">
            <h3>@(GPU.Nom)</h3>
            <ul>
                <li><b>Fabricant:</b> @GPU.Parent.Nom</li>
                <li><b>Chipset:</b> @GPU.Chipset.ToString().Replace('_', ' ')</li>
                <li><b>Memory:</b> @GPU.Memory GB</li>
                <li><b>Memory Type:</b> @GPU.MemType</li>
                <li><b>Boost Clock:</b> @GPU.BoostClock MHz</li>
                <li><b>Core Clock:</b> @GPU.CoreClock MHz</li>
                <li><b>Length:</b> @GPU.Length mm</li>
                <li><b>TDP:</b> @GPU.TDP W</li>
                <li><b>HDMI Ports:</b> @GPU.HDMIPorts</li>
                <li><b>DP Ports:</b> @GPU.DPPorts</li>
                <li><b>Maximum resolution:</b> @GPU.MaxRes</li>
                <li><b>Prix:</b> @GPU.Prix.ToString("0.00")$</li>
            </ul>
            <form asp-controller="Favoris" asp-action="AjouterUnEnfant" method="post">
                <input type="hidden" name="id" value="@GPU.Id">
                <button type="submit" class="btn btn-primary">Favoris <i class="fas fa-plus"></i></button>
            </form>
        </div>
        <!-- Carousel -->
        <div class="col-12 col-lg-8 col-xl-9" id="carousel-col">
            <div id="carouselDetailsIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselDetailsIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselDetailsIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselDetailsIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselDetailsIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@getImgPath(1)" class="d-block img-fluid" alt="GPU-with-Box">
                    </div>
                    <div class="carousel-item">
                        <img src="@getImgPath(2)" class="d-block img-fluid" alt="GPU-front">
                    </div>
                    <div class="carousel-item">
                        <img src="@getImgPath(3)" class="d-block img-fluid" alt="GPU-back">
                    </div>
                    <div class="carousel-item">
                        <img src="@getImgPath(4)" class="d-block img-fluid" alt="GPU-IO">
                    </div>
                </div>
                <button class="carousel-control-prev carousel-control" type="button" data-target="#carouselDetailsIndicators" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only ">Previous</span>
                </button>
                <button class="carousel-control-next carousel-control" type="button" data-target="#carouselDetailsIndicators" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only ">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row description">
        <h3>Description</h3>
        <p>
            @GPU.Description
        </p>
    </div>

</div>
