@model PageRechercheViewModel;

@{
    List<Enfant> Enfants = Model.Resultat;
    CritereRechercheViewModel Criteres = Model.Criteres;

    
}

@section Style {
    <link rel="stylesheet" href="/style/recherche.css">
}

<div class="row content">
    <div class="col-12 col-lg-9 order-1 order-lg-0">
        <div class="row">
            @foreach (Enfant e in Enfants)
            {
                <partial name="_EnfantPartial" for="@e"/>
            }
            @if (Enfants.Count == 0)
            {
                <h1 style="color: white; margin: 20px; margin-bottom: 100vh;">Aucun resultat ne correspond a ces criteres.</h1>
            }
        </div>
    </div>
    <div class="col-12 col-lg-3 order-0 order-lg-1">
        <div class="zone-recherche">
            <form action="/filtrer" method="get">
                <div id="search-bar-container" class="search-section">
                    <label for="search-bar"><b>Rechercher par mots-clés:</b></label>
                    <input class="input-txt" type="text" value="@Criteres.MotsCles" name="MotsCles" placeholder="Rechercher" autocomplete="off" id="search-bar">
                </div>

                <div id="checklists" class="row search-section">
                    <div class="checklist-container col-12 col-xxl-6" id="manufacturer">
                        <p><b>Fabricant:</b></p>
                        <ul class="checklist">
                            <li>
                                <input type="checkbox" @(Criteres.Asus ? "checked" : "") name="Asus" value="true" id="search-manufacturer-checklist-asus">
                                <label for="search-manufacturer-checklist-asus">Asus</label>
                            </li>
                            <li>
                                <input type="checkbox" @(Criteres.Gigabyte ? "checked" : "") name="Gigabyte" value="true" id="search-manufacturer-checklist-gigabyte">
                                <label for="search-manufacturer-checklist-gigabyte">Gigabyte</label>
                            </li>
                            <li>
                                <input type="checkbox" @(Criteres.EVGA ? "checked" : "") name="EVGA" value="true" id="search-manufacturer-checklist-evga">
                                <label for="search-manufacturer-checklist-evga">EVGA</label>
                            </li>
                        </ul>
                    </div>
                    <div class="checklist-container col-12 col-xxl-6" id="chipset">
                        <p><b>Chipset:</b></p>
                        <ul class="checklist">
                            <li>
                                <input type="checkbox" @(Criteres.Est3060 ? "checked" : "") value="true" name="Est3060" id="search-chipset-checklist-3060">
                                <label for="search-chipset-checklist-3060">GeForce RTX 3060</label>
                            </li>
                            <li>
                                <input type="checkbox" @(Criteres.Est3070 ? "checked" : "") value="true" name="Est3070" id="search-chipset-checklist-3070">
                                <label for="search-chipset-checklist-3070">GeForce RTX 3070</label>
                            </li>
                            <li>
                                <input type="checkbox" @(Criteres.Est3080 ? "checked" : "") value="true" name="Est3080" id="search-chipset-checklist-3080">
                                <label for="search-chipset-checklist-3080">GeForce RTX 3080</label>
                            </li>
                            <li>
                                <input type="checkbox" @(Criteres.Est3090 ? "checked" : "") value="true" name="Est3090" id="search-chipset-checklist-3090">
                                <label for="search-chipset-checklist-3090">GeForce RTX 3090</label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="price" class="search-section">
                    <label for="price-min">Prix de: </label>
                    <input class="input-txt" type="number" name="PrixMin" id="price-min" value="@Criteres.PrixMin" placeholder="Min" autocomplete="off" min="0">
                    <label for="price-max">à</label>
                    <input class="input-txt" type="number" name="PrixMax" id="price-max" value="@Criteres.PrixMax" placeholder="Max" autocomplete="off">
                </div>

                <div id="premium-selector">
                    <label for="search-premium" id="label-premium">Article premium: </label>
                    <select name="ArticlePremium" id="search-premium" class="input-txt">
                        <!option @(Criteres.ArticlePremium == 0 ? "selected" : "") value="0">Peu importe</!option>
                        <!option @(Criteres.ArticlePremium == 1 ? "selected" : "") value="1">Oui</!option>
                        <!option @(Criteres.ArticlePremium == 2 ? "selected" : "") value="2">Non</!option>
                    </select>
                </div>

                <div id="button-container">
                    <button type="reset">Effacer<i class="fas fa-eraser"></i></button>
                    <button type="submit" id="search-button">Rechercher<i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>