@using prog_web_tp_2.Models;

@model FausseBaseDeDonnees;

@{
    Layout = "_Layout";
    List<Enfant> Enfants = Model.Enfants;
    List<Parent> Parents = Model.Parents;

    void RenderItem(Enfant e)
    {
        <div class="col-12 col-md-4 px-2 item">
            <div class="card">
                <img src="@e.ImageURL" class="card-img-top img-fluid" alt="@e.Nom">
                <div class="card-body">
                    <h1 class="card-title">@e.Nom</h1>
                    <a href="/Enfant/Detail/@e.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }

}
@section Style {
    <link rel="stylesheet" href="/style/recherche.css">
}

<div class="row content">
    <div class="col-12 col-lg-9 order-1 order-lg-0">
        @for (int x = 0; x < Enfants.Count; x += 3)
        {
            <div class="row">
                @for (int y = 0; y < 3; y++) 
                    RenderItem(Enfants[x + y]);
            </div>
        }
    </div>
    <div class="col-12 col-lg-3 order-0 order-lg-1">
        <div class="zone-recherche">
            <form action="https://www.w3schools.com/action_page.php" method="post">
                <div id="search-bar-container" class="search-section">
                    <label for="search-bar"><b>Rechercher par mots-clés:</b></label>
                    <input class="input-txt" type="text" name="Rechercher" placeholder="Rechercher" autocomplete="off" id="search-bar">
                </div>

                <div id="checklists" class="row search-section">
                    <div class="checklist-container col-12 col-xxl-6" id="manufacturer">
                        <p><b>Fabricant:</b></p>
                        <ul class="checklist">
                            <li>
                                <input type="checkbox" name="Tous" id="search-manufacturer-checklist-tous">
                                <label for="search-manufacturer-checklist-tous">Tous</label>
                            </li>
                            @foreach (Parent p in Parents)
                            {
                                <li>
                                    <input type="checkbox" name="@p.Nom" id="search-manufacturer-checklist-@p.Nom.ToLower()">
                                    <label for="search-manufacturer-checklist-@p.Nom.ToLower()">@p.Nom</label>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="checklist-container col-12 col-xxl-6" id="chipset">
                        <p><b>Chipset:</b></p>
                        <ul class="checklist">
                            <li>
                                <input type="checkbox" name="Tous" id="search-chipset-checklist-tous">
                                <label for="search-chipset-checklist-tous">Tous</label>
                            </li>
                            @foreach (var i in Enum.GetValues(typeof(enuChipsets)))
                            {
                                <li>
                                    <input type="checkbox" name="@(i.ToString())))" id="search-chipset-checklist-@(i.ToString())">
                                    <label for="search-chipset-checklist-@(i.ToString())">@(i.ToString().Replace('_', ' '))</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div id="price" class="search-section">
                    <label for="price-min">Prix de: </label>
                    <input class="input-txt" type="number" name="Min" id="price-min" placeholder="Min" autocomplete="off" min="0">
                    <label for="price-max">à</label>
                    <input class="input-txt" type="number" name="Min" id="price-max" placeholder="Max" autocomplete="off">
                </div>

                <div id="premium-selector">
                    <label for="search-premium" id="label-premium">Article premium: </label>
                    <select name="Premium" id="search-premium" class="input-txt">
                        <option value="all">Peu importe</option>
                        <option value="yes">Oui</option>
                        <option value="no">No</option>
                    </select>
                </div>

                <div id="button-container">
                    <button type="reset">Effacer<i class="fas fa-eraser"></i></button>
                    <button type="submit" id="search-button">Rechercher<i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>