@using prog_web_tp_2.Models;
@using System.Linq;

@model List<Parent>;

@section Style {
    <link href="~/style/accueil.css" rel="stylesheet" type="text/css" />
}

@{
    Layout = "_Layout";
}


<div class="row justify-content-center">
    <h1>Fabricants</h1>
</div>
<div class="row vendeurs-container">
    @{
        foreach (Parent p in Model)
        {
            <a href="/Enfant/Recherche" class="col-md-4 col-xs-12" id="@(p.Nom.ToLower())">
                <div class="vendeur">
                    <div class="vendeur-img">
                        <img src="@(p.ImageURL)" alt="@(p.Nom.ToLower()) logo" class="img-fluid">
                    </div>
                    <div class="vendeur-info">
                        <ul>
                            <li>Nombre de carte graphiques: @(p.Enfants.Count)</li>
                            <li>Prix moyen: @(p.Enfants.Average(e => e.Prix).ToString("0.00"))</li>
                        </ul>
                        <p>
                            @(p.Description)
                        </p>
                    </div>
                </div>
            </a>
        }
    }
</div>
